<header class="header">
  <div class="header-conteiner">
    <nav class="header-navigation">
      <a href="./index.html" class="header-logo">watchcharm</a>
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a href="./index.html" class="header-menu-link active-menu-link"
            >Home</a
          >
        </li>
        <li class="header-menu-item">
          <a href="#about" class="header-menu-link">About Us</a>
        </li>
        <li class="header-menu-item">
          <a href="#catalog" class="header-menu-link">Catalog</a>
        </li>
        <li class="header-menu-item">
          <a href="#sale" class="header-menu-link">Sale</a>
        </li>
        <li class="header-menu-item">
          <a href="#reviews" class="header-menu-link">Reviews</a>
        </li>
        <li class="header-menu-item">
          <a href="#contact" class="header-menu-link">Contact Us</a>
        </li>
      </ul>
    </nav>

    <address class="header-addres">
      <ul class="header-addres-list">
        <li class="addres-menu-item">
          <a
            class="addres-soc-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="nooper no-referrer"
          >
            <svg class="addres-menu-img" width="36" height="36">
              <use href="/img/sprint.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="addres-menu-item">
          <a
            class="addres-soc-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="nooper no-referrer"
          >
            <svg class="addres-menu-img" width="36" height="36">
              <use href="/img/sprint.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="addres-menu-item">
          <a
            class="addres-soc-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="nooper no-referrer"
          >
            <svg class="addres-menu-img" width="36" height="36">
              <use href="/img/sprint.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>

    <button class="menu-open-button">
      <svg class="menu-open-img">
        <use href="/img/sprint.svg#icon-menu_open"></use>
      </svg>
    </button>
  </div>
</header>
