<section id="sale">
    <div class="container">
        <h2 class="sale-title">Sale</h2>
        <div class="container-sale">
            <div class="gallery">
                <ul class="image-list">
                    <li class="image-items">
                        <picture>
                            <source srcset="
                    /img/sale/sale_image_one_desk.webp    1x,
                    /img/sale/sale_image_one_desk_2x.webp 2x
                  " media="(min-width: 1280px)" />
                            <source srcset="
                    /img/sale/sale_image_one_tab.webp    1x,
                    /img/sale/sale_image_one_tab_2x.webp 2x
                  " media="(min-width: 768px)" />
                            <source srcset="
                    /img/sale/sale_image_one_mob.webp   1x,
                    /img/sale/sale_image_one_mob2x.webp 2x
                  " media="(max-width: 375px)" />
                            <img class="sale-image" src="/img/sale/sale_image_one_mob.webp" alt="first watch" />
                        </picture>
                    </li>
                    <li class="image-items">
                        <picture>
                            <source srcset="
                    /img/sale/sale_image_two_desk.webp    1x,
                    /img/sale/sale_image_two_desk_2x.webp 2x
                  " media="(min-width: 1280px)" />
                            <source srcset="
                    /img/sale/sale_image_two_tab.webp    1x,
                    /img/sale/sale_image_two_tab_2x.webp 2x
                  " media="(min-width: 768px)" />
                            <source srcset="
                    /img/sale/sale_image_two_mob.webp    1x,
                    /img/sale/sale_image_two_mob_2x.webp 2x
                  " media="(max-width: 375px)" />
                            <img class="sale-image" src="/img/sale/sale_image_two_mob.webp" alt="second watch" />
                        </picture>
                    </li>
                    <li class="image-items">
                        <picture>
                            <source srcset="
                    /img/sale/sale_image_three_desk.webp    1x,
                    /img/sale/sale_image_three_desk_2x.webp 2x
                  " media="(min-width: 1280px)" />
                            <source srcset="
                    /img/sale/sale_image_three_tab.webp    1x,
                    /img/sale/sale_image_three_tab_2x.webp 2x
                  " media="(min-width: 768px)" />
                            <source srcset="
                    /img/sale/sale_image_three_mob.webp    1x,
                    /img/sale/sale_image_three_mob_2x.webp 2x
                  " media="(max-width: 375px)" />
                            <img class="sale-image" src="/img/sale/sale_image_three_mob.webp" alt="third watch" />
                        </picture>
                    </li>
                    <li class="image-items">
                        <picture>
                            <source srcset="
                    /img/sale/sale_image_four_desk.webp    1x,
                    /img/sale/sale_image_four_desk_2x.webp 2x
                  " media="(min-width: 1280px)" />
                            <source srcset="
                    /img/sale/sale_image_four_tab.webp    1x,
                    /img/sale/sale_image_four_tab_2x.webp 2x
                  " media="(min-width: 768px)" />
                            <source srcset="
                    /img/sale/sale_image_four_mob.webp    1x,
                    /img/sale/sale_image_four_mob_2x.webp 2x
                  " media="(max-width: 375px)" />
                            <img class="sale-image" src="/img/sale/sale_image_four_mob.webp" alt="fourth watch" />
                        </picture>
                    </li>
                </ul>

                <div class="main-image">
                    <picture>
                        <source srcset="
                  /img/sale/sale_big_image_desk.webp    1x,
                  /img/sale/sale_big_image_desk_2x.webp 2x
                " media="(min-width: 1280px)" />
                        <source srcset="
                  /img/sale/sale_big_image_tab.webp    1x,
                  /img/sale/sale_big_image_tab_2x.webp 2x
                " media="(min-width: 768px)" />
                        <source srcset="
                  /img/sale/sale_big_image_mob.webp    1x,
                  /img/sale/sale_big_image_mob_2x.webp 2x
                " media="(max-width: 375px)" />
                        <img class="sale-image" src="/img/sale/sale_big_image_mob.webp" alt="main watch" />
                    </picture>
                </div>
            </div>

            <div class="product-info">
                <h3 class="product-title">MARQ® Commander (Gen 2) - Carbon Edition</h3>
                <p class="product-tag">Product tag: 706587</p>
                <div class="price">
                    <p class="current-price">€1500</p>
                    <p class="old-price">€3000</p>
                </div>
                <p class="description">
                    The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
                    for adventurers that takes materials and features to the next level. The
                    body of the watch is made of very durable Fused Carbon Fiber material
                    and has a precise AMOLED touch screen. The sensitive touch screen is
                    complemented by buttons that can be used in any conditions.
                </p>
                <div class="tags">
                    <ul class="tags-list">
                        <li class="tags-item">Fused carbon fiber</li>
                        <li class="tags-item">Grade-5 Titanium</li>
                        <li class="tags-item">Athlete</li>
                        <li class="tags-item">Golfer</li>
                        <li class="tags-item">Commander</li>
                        <li class="tags-item">Adventurer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
